/* #skills {
    /* overflow: hidden;
    width: 100vw;
    max-width: 90rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
} */

.symbol {
    margin: 1rem auto;
    /* font-size: 18px; */
}

@media screen and (min-width:2560px) {
    .listPadding {
        padding: 0 0 0 31%;
    }
}

@media screen and (min-width:1440px) and (max-width:2559px) {
    .listPadding {
        padding: 0 0 0 26rem;
    }

    .skillBars {
        width: 76%
    }
}

@media screen and (min-width:321px) and (max-width:1339px) {
    .listPadding {
        padding-left: 11rem;
    }
}

@media screen and (max-width:320px)  {
    .listPadding {
        padding-left: 9rem;
        padding-right: 9px;

    }
} 

.skillBar {
    margin: 1.5rem;
    width: 100vw;
    max-width: 80%;
    text-align: left;
    display: flex;
}

.skillBars {
    display: flex;
    /* padding: 1.5rem 2rem; */
    border-radius: 0.5rem;
    background: rgb(50, 50, 50);
    margin-right: 10px
}

.skillBarImg {
    object-fit: cover;
    height: 3rem;
    width: 3rem;
    margin-right: 2rem;

}

.skillBarText>p {
    font-size: 0.9rem;
    font-weight: 200;
}

@media screen and (max-width : 720px) {
    .skillBarText>p {
        font-size: 2vw;
    }

}

@media screen and (max-width : 480px) {
    .skillBarText>p {
        font-size: 3vw;
    }

    .skillBarImg {
        height: 2.25rem;
        width: 2.25rem;
    }

    .skillBarText>h2 {
        font-size: 5vw;
    }
}